In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False 
depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [35]:
def func(n):
    y=n
    sum=0
    while(n>0):
        x=n%10
        sum=sum*10+x
        n=n//10
    if(y==sum):
        return True
    else:
        return False

In [36]:
func(151)

True

In [38]:
func(12567)

False

In [ ]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [49]:
def mul(s):
    s=s.replace(' ',"")
    s=s.split(',')
    sum=1
    for i in s:
        sum=sum*int(i)
    return sum

In [50]:
mul('2,3')

6

In [51]:
mul('10,-2')

-20

In [52]:
mul('54,75,453,0')

0

In [ ]:
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [94]:
def square_digits(num):
    z = ''.join(str(int(i)**2) for i in str(num))
    return int(z)

In [95]:
square_digits(3212)

9414

In [96]:
square_digits(2483)

416649

In [97]:
square_digits(9119)

811181

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [100]:
def setify(n):
    n=set(n)
    return list(n)

In [101]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [102]:
setify([4, 4, 4, 4])

[4]

In [103]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [104]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are 
(e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [123]:
def mean(n):
    sum=0
    N=len(str(n))
    
    x=0
    y=0
    count=0
    while(n>0):
        x=n%10
        sum+=x
        n=n/10
    
    y=sum//N
    return y

In [124]:
mean(42)

3.0

In [125]:
mean(12345)

3.0

In [126]:
mean(666)

6.0