In [ ]:
Question1
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

Question2
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [ ]:
Question1
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers 
only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [2]:
def func(a):
    l=[]
    for i in a:
        if(type(i)==int):
            l.append(i)
        else:
            continue
    return l
a=[]
func([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
func((["A", 0, "Edabit", 1729, "Python", "1729"]))

[0, 1729]

In [4]:
func((["Nothing", "here"]))

[]

In [ ]:
Question2
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. 
This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [13]:
def add_indexes(n):
    l=[]
    for i in range(0,len(n)):
        n[i]=i+n[i]
        l.append(n[i])
    return l
n=[]
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [14]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [15]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [ ]:
Question3
Create a function that takes the height and radius of a cone as arguments and 
returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [22]:
def func(h,r):
    pi=3.14159
    vol=pi*(r**2)*h/3
    return vol
h=int(input("Enter height : "))
r=int(input("Enter radius : "))
func(h,r)

Enter height : 15
Enter radius : 6

565.4861999999999

In [ ]:
Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. 
The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [31]:
def triangle(n):
            if(n==0):
                return 0
            elif(n==1):
                return 1
            else:
                return (n+triangle(n-1))
n=int(input("enter an integer : "))
triangle(n)

enter an integer : 215

23220

In [ ]:
Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [34]:
def missing_numbers(n):
    tot=sum([x for x in range(11)])
    sum_lst=sum(n)
    return tot-sum_lst
print(missing_numbers([1,2,3,4,5,6,7,8,9]))

10

In [35]:
missing_numbers([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

In [37]:
missing_numbers([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [38]:
missing_numbers([1, 2, 3, 4, 6, 7, 8, 9, 10])

5